<a href="https://colab.research.google.com/github/manikumar-2375/Machine---Learning/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

In [ ]:
print (2+3)
a=20
print (a)
print (type(a))
a="hello"
print (len(a))

5
20
<class 'int'>
5

In [ ]:
x = 3
print (type(x)) # Prints "<type 'int'>"
print (x) # Prints "3"
print (x + 1 ) # Addition; prints "4"
print (x - 1 ) # Subtraction; prints "2"
print (x * 2) # Multiplication; prints "6"
print (x ** 2) # Exponentiation; prints "9"
x += 1
print (x) # Prints "4"
x *= 2
print (x ) # Prints "8"
y = 2.5
print (type(y)) # Prints "<type 'float'>"
print (y, y + 1, y * 2, y ** 2)

<class 'int'>
3
4
2
6
9
4
8
<class 'float'>
2.5 3.5 5.0 6.25

In [ ]:
s = "hello"
print (s.capitalize()) # Capitalize a string; prints "Hello"
2
print (s.upper()) # Convert a string to uppercase; prints "HELLO"
print (s.rjust(7)) # Right-justify a string, padding with spaces; prints " helloprint (s.center(7)) # Center a string, padding with spaces; prints " hello "
print (s.replace('l', '(ell)')) # Replace all instances of one substring with another# prints "he(ell)(ell)o"
print( ' world '.strip()) # Strip leading and trailing whitespace; prints "world"

Hello
HELLO
  hello
he(ell)(ell)o
world

In [ ]:
a=int(input("Enter a number: ")) #Read input from user
#Condition
if a>10:
  print ("Number is greater than 10")
else:
  print ("Number is less than 10")

Enter a number: 10
Number is less than 10

In [ ]:
name=input("Enter name")
print ("Hello "+name)

Enter nameyoo
Hello yoo

In [14]:
a=range(1,25)
a[2:5]
a[-1]
a[1:5:2]
a[-3:-1]
a[:]
a[::]
a[::2]
a[::-1]

range(24, 0, -1)